
<h2><%= @total %> Stores Total</h2>
	<% @stores.each_with_index do |store, index| %>
		
		<div class="store #{index}">
			Long Name: <%= store.name %>
			City: <%= store.city %>
			Distance: <%= store.distance %>
			Phone Number: <%= store.phone %>
			Store Type: <%= store.type %>
		</div>
	<% end %>